<div class="tab-pane text-left search-parent" id="faceManager" role="tabpanel">
    <div class="row">
        <form id="faceManagerUploadForm" class="col-4">
            <div class="form-group mb-3">
                <div class="text-left mb-2"><span class="badge badge-default"><%- lang['Face Name'] %></span></div>
                <input value="myFace" placeholder="<%- lang['Face Name'] %>" class="form-control form-control-lg" name="faceName" id="faceNameField" style="border-radius: .3rem;">
            </div>
            <div class="form-group file-area">
                <div class="text-left mb-2"><span class="badge badge-default"><%- lang['Upload Images'] %></span></div>
                <input type="file" id="fileinput" name="files" required multiple="multiple" accept="image/jpeg" />
                <div class="file-dummy">
                  <div class="success"><span><%- lang['Images Sent'] %></span></div>
                  <div class="default"><span><%- lang['Click to Upload Images'] %> (JPG/JPEG)</span></div>
                </div>
            </div>
        </form>
        <div class="col-8" id="faceManagerImages">

        </div>
    </div>
</div>
